* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
  font-family: 'Noto Sans' sans-serif;
}


:root {
  --primary: #000000;
  --secondary: rgb(255, 255, 255);
  --tertiary: #00F260;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
*::-webkit-scrollbar {
  width: 3px;
}


*::-webkit-scrollbar-track {
  background: hsl(0, 0%, 5%);
  border-radius: 30px;
}


*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 30px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flex.w-full.flex-col.h-screen.items-center.justify-center.bg-gradient-to-b.from-\[\#00008F\].to-\[\#28002E\] {
  height: 100%;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

h1 {
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
  filter: blur(50px);
  z-index: -1; /* Place it behind the text */
  border-radius: 20;
}

.textDesc {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  padding: 0.2rem;
  margin: 0.2rem; 
  font-weight: 500;
}

.textDesc:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textDesc:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
div.main {
  width: 100%;
  overflow: hidden;
  background-color: #0575E6;
  height: auto;
  font-size: 4em;
  color: #1a1a1a;
  margin-top: 60px;
  font-weight: bold;
}

div.slide-right {
  display: flex; /* Para que los elementos <p> se muestren en línea */
  animation: slideRight 10s linear infinite;
  white-space: nowrap; /* Para evitar el salto de línea */
}

div.slide-right p {
  flex: 0 0 auto; /* Para que los elementos <p> no crezcan */
  margin-right: 2em; /* Espacio entre los elementos <p> */
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-110%);
  }
}
